:root {
  /* Colors */
  --dark: #101018;
  --primary: #212033;
  --secondary: #2c2943;
  --white: #F6F6F6;
  --muted: 183 8% 55%;
  --folly: #FA1057;
  --red-ncs: #B40439;
  --satib-sheen-gold: #CBA415;
  --dark-goldenrod: #B99513;

  /* font size */
  --fs-100: clamp(0.50rem, calc(0.55rem + 0.35vw), 0.80rem);
  --fs-200: clamp(0.78rem, calc(0.71rem + 0.35vw), 0.96rem);
  --fs-300: clamp(0.94rem, calc(0.84rem + 0.51vw), 1.2rem);
  --fs-350: clamp(0.99999rem, calc(0.82rem + 0.569vw), 0.1rem);
  --fs-400: clamp(1.13rem, calc(0.98rem + 0.73vw), 1.5rem);
  --fs-500: clamp(1.94rem, calc(1.56rem + 1.92vw), 2.93rem);
  --fs-600: clamp(2.8rem, calc(2.11rem + 3.47vw), 4.58rem);

  font-family: "Montserrat", "Open Sans", "Helvetica Neue",  Roboto,  system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Oxygen, Ubuntu, Cantarell,   sans-serif;

  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--white);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
}



